<article class="article blog__grid1">
    <div class="article__image position-relative">
        <a class="article__featured-image-link d-block position-relative overflow-hidden rounded-2" href="{{ article.url }}">
            {% render 'img-global', image: article.image, image_ratio: section.settings.image_ratio, crop: image_crop %}
        </a>
        <div class="article__content position-absolute start-0 bottom-0 text-white p-3">
            <div class="p-lg-1">
                {%- if show_tags and article.tags.size > 0 -%}
                    <div class="article__meta-tags d-flex flex-wrap mb-2">
                        {% for tag in article.tags limit: section.settings.blog_tags_limit %}
                            <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="tags__item text-white">{{ tag }}</a>{% unless forloop.last %}<span class="lh-1 me-1">,</span>{% endunless %}
                        {% endfor %}
                    </div>
                {%- endif -%}
                <h3 class="article__title mb-2 line-clamp-2">
                    <a class="line-title text-white" href="{{ article.url }}" title="{{ article.title | strip_html }}"><span>{{ article.title }}</span></a>
                </h3>
                {%- if show_excerpt -%}
                    <div class="rte article__excerpt mb-3 mb-lg-4 line-clamp-3">
                        {{ article_content | strip_html | truncate: 146 }}
                    </div>
                {%- endif -%}
                {%- if show_date or show_author -%}
                    <div class="article__meta d-flex flex-wrap align-items-center">
                        {%- if show_date -%}
                            <div class="article__meta-date d-flex align-items-center text-white">
                                <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.37 16.16C16.66 17.27 15.42 18 14 18H6C3.79 18 2 16.21 2 14V9H18V14C18 14.8 17.77 15.54 17.37 16.16Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 12H8" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 12H14" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 15H8" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 15H14" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.37 5.84C16.66 4.73 15.42 4 14 4H6C3.79 4 2 5.79 2 8V9H18V8C18 7.2 17.77 6.46 17.37 5.84Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 2V6" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 2V6" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                {{ article.published_at | time_tag: format: 'date_month_year' }}
                            </div>
                        {%- endif -%}
                        {%- if show_author -%}
                            <div class="article__meta-author d-flex align-items-center text-white">
                                {%- capture author -%}{{ article.author }}{%- endcapture -%}
                                {{ 'blogs.article.author_html' | t: author: author }}
                            </div>
                        {%- endif -%}
                    </div>
                {%- endif -%}
                {%- if show_readmore -%}
                    <div class="mt-3">
                        <a class="article__btn link fw-medium text-white" href="{{ article.url }}"><span class="d-inline-block">{{ 'blogs.article.read_more' | t }}</span>{% render 'icons', icon: 'arrow-right-top', class: 'icon-arrow-right-top ms-2 position-relative', attr: 'width="9" height="9"' %}</a>
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</article>