{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}
{%- assign variant = product.selected_or_first_available_variant -%}
{%- if product.metafields.custom.shortdescription != blank -%}
    {%- assign shortDescription = product.metafields.custom.shortdescription -%}
{%- else -%}
    {%- assign shortDescription = product.description | strip_html | truncate: 200 -%}
{%- endif -%}
{%- assign image_crop = nil -%}
{%- if section.settings.crop -%}
    {%- assign image_crop = 'center' -%}
{%- endif -%}
<div class="row g-3 product-card product-list-style product-list__list product-grid grid__style3">
    <div class="col-6">
        <div class="product-card__image-wrapper position-relative">
            <a class="product-card__image-link rounded-2" href="{{ product.url }}" title="{{ product.title | strip_html }}">
                <div class="product-card__img-primary{% if product.media[1] != nil and settings.show_secondary_image %} img-primary{% endif %}">
                    {% render 'img-global', image: product.featured_media, image_ratio: settings.image_ratio, crop: image_crop, max_width: 400, image_style: true %}
                </div>
                {%- if product.media[1] != nil and settings.show_secondary_image -%}
                    <div class="img-secondary position-absolute">
                        {% render 'img-global', image: product.media[1], image_ratio: settings.image_ratio, crop: image_crop, max_width: 400, image_style: true %}
                    </div>
                {%- endif -%}
            </a>
            <div class="product-card__label position-absolute d-flex flex-column {{ settings.badge_position }}-0">
                {%- if difference < 2592000 and settings.product_card_new -%}
                    <span class="d-flex justify-content-start"><span class="label-new d-block overflow-hidden py-1 px-2 rounded-pill mb-0">{{ 'products.general.label_new' | t }}</span></span>
                {%- endif -%}
                {%- if on_sale and settings.product_card_sale -%}
                    {%- capture saved_amount -%}{{ product.compare_at_price | minus: product.price | times: 100 | divided_by : product.compare_at_price }}{%- endcapture -%}
                    <span class="d-flex justify-content-start"><span class="label-on-sale d-block overflow-hidden py-1 px-2 rounded-pill mb-0">{% if settings.sale_style == 'percent' %}-{{ saved_amount }}%{% else %}{{ 'products.general.sale_price' | t }}{% endif %}</span></span>        
                {%- endif -%}
            </div>
            {%- if settings.product_card_addtocart -%}
                <div class="product-card__buttons w-100">
                    <div class="product-card__form">
                        {%- assign variant_count = product.variants | size -%}
                        <form action="{{ routes.cart_add_url }}" method="post" enctype="multipart/form-data" class="form-addtocart" data-product-form>
                        <input type="hidden" name="id" value="{{ variant.id }}" />
                        {%- unless sold_out -%}
                            {%- if variant_count > 1 -%}
                                <a class="btn btn--add-to-cart rounded-0" href="{{ product.url }}" title="{{ 'products.product.select_options' | t }}">
                                    {% render 'icons', icon: 'cart', class: 'icon-cart d-none', attr: 'width="18" height="18"' %}
                                    <span class="text">{{ 'products.product.select_options' | t }}</span>
                                    <div class="d-none proShortDesc">
                                        {{ shortDescription }}
                                    </div>
                                </a>
                            {%- else -%}
                                <button class="btn btn--add-to-cart rounded-0" type="submit" value="Submit" title="{% if preOrder %}{{ 'products.product.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}">
                                    {% render 'icons', icon: 'cart', class: 'icon-cart d-none', attr: 'width="18" height="18"' %}
                                    <span class="text">{% if preOrder %}{{ 'products.product.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span>
                                </button>
                            {%- endif -%}
                        {%- endunless -%}
                        </form>
                    </div>
                </div>
            {%- endif -%}
        </div>
    </div>
    <div class="col-6 product-card__content">
        <div class="product-card__content--inner">
            {%- if settings.product_card_swatch -%}
                {% include 'product-card-swatch', class: ' mb-1 pb-1'%}
            {%- endif -%}
            {%- if settings.product_vendor_enable -%}
                <div class="product-card__vendor">{{ product.vendor | link_to_vendor }}</div>
            {%- endif -%}
            <h6 class="product-card__name line-clamp-2 mb-2">
                <a class="line-title fw-normal fs-bs" href="{{ product.url }}" title="{{ product.title | strip_html }}">{{ product.title }}</a>
            </h6>
            {%- if settings.product_reviews_enable and settings.product_card_review -%}
                <div class="product-card__review product-review mb-2">
                    {% include 'product-review-card' %}
                </div>
            {%- endif -%}
            <div class="product-group-price d-flex align-items-center w-100">
                {%- if on_sale -%}
                    <div class="product-price product-price--regular me-1">{{ product.compare_at_price | money }}</div>
                {%- endif -%}
                <div class="product-price{% if on_sale %}  product-price__has-sale{% endif %}">{{ product.price | money }}</div>
                {%- if product.price_varies == false and variant.unit_price_measurement -%}
                    {%- capture unit_price_separator -%}
                        <span>/</span><span class="d-none">&nbsp;{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                    {%- endcapture -%}
                    {%- capture unit_price_base_unit -%}
                        <span>
                        {%- if variant.unit_price_measurement.reference_value != 1 -%}
                            {{- variant.unit_price_measurement.reference_value -}}
                        {%- endif -%}
                        {{ variant.unit_price_measurement.reference_unit }}
                        </span>
                    {%- endcapture -%}
                    <span class="product-unit-price">
                        <span class="d-none">{{ 'products.general.unit_price' | t }}</span>
                        <span>{{ variant.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                    </span>
                {%- endif -%}
                {%- if shop.taxes_included and settings.product_card_tax -%}
                    <span class="ms-2">
                        {{ 'products.general.include_taxes' | t }}
                    </span>
                {%- endif -%}
            </div>
            {%- if settings.product_card_available -%}
                <ul class="ps-3 mt-2 pb-1 mb-0">
                    {%- if preOrder -%}
                        <li class="text-info">{{ 'products.general.label_pre_order' | t }}</li>
                    {% elsif sold_out %}
                        <li class="text-danger">{{ 'products.product.out_stock' | t }}</li>
                    {% else %}
                        <li class="text-success">{{ 'products.product.in_stock' | t }}</li>
                    {% endif %}
                </ul>
            {%- endif -%}
            {%- if shortDescription != blank and settings.product_card_shortdesc -%}
                <div class="product-card__summary pt-2">{{ shortDescription }}</div>
            {%- endif -%}
        </div>
    </div>
</div>