{%- assign title = settings.outofstock_title | escape -%}
{%- assign options = '' -%}
{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
    {%- assign on_sale = true -%}
{%- endif -%}
{%- if current_variant.title != 'Default Title' -%}
  {%- assign options = current_variant.title -%}
{%- endif -%}
<div class="product-bis d-none">
  <div class="notify-product position-relative border-bottom">
    <button type="button" class="vela__btn-close position-absolute top-0 end-0 mt-3 me-4" data-bs-dismiss="modal" aria-label="Close">
      {% render 'icons', icon: 'line', class: 'icon-line position-absolute top-50 start-50', attr: 'width="10" height="10"' %}
      {% render 'icons', icon: 'line', class: 'icon-line1 position-absolute top-50 start-50', attr: 'width="10" height="10"' %}
    </button>
    <div class="row g-0 align-items-center">
      <div class="notify-product__image position-relative col-auto">
        <img
          class="notify-product__img img-fluid position-relative rounded-circle"
          src="{{ product.featured_media | image_url: width: 100, height: 100 }}"
          alt="{{ product.title | escape }}"
          loading="lazy"
          width="100"
          height="100"
          style="z-index: 10000;"
        />
        {%- render 'preloading', preload_class: 'position-absolute' -%}
      </div>
      <div class="notify-product__content col ps-2 ms-1">
        <div class="notify-product__title fs-6 heading-color me-5">{{ product.title }}</div>
        <div class="notify-product__variants mt-2 text-secondary lh-1">{{ options }}</div>
        <div class="notify-product__price product-group-price d-flex align-items-center w-100 mt-2">
          {% render 'product-card-price', product: product, on_sale: on_sale %}
        </div>
      </div>
    </div>
  </div>
  <div class="notify-product__form position-relative">
    <input type="hidden" name="contact[title]" value="{{ title }}">
    <input type="hidden" name="contact[product_id]" value="{{ product.id }}">
    <input type="hidden" name="contact[variant_id]" value="{{ current_variant.id }}">
    <input type="hidden" name="contact[product]" value="{{ product.title }}">
    <input type="hidden" name="contact[variant]" value="{{ options }}">
    <input type="hidden" name="contact[product_url]" value="{{ request.origin | append: product.url }}">
    {%- if settings.outofstock_modal_content != blank -%}
      <div class="notify-product__description h4 text-center">{{ settings.outofstock_modal_content }}</div>
    {%- endif -%}
    <input
      class="form-control"
      type="email"
      name="contact[email]"
      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
      placeholder="{{ 'templates.contact.form.email_placeholder' | t }}"
      required
    />
    <button class="btn btn-default w-100" type="submit">{{ settings.outofstock_modal_title }}</button>
  </div>
</div>
