
{%- unless customer -%}
	{%- capture fullname -%}{{ customer.first_name }}{%- endcapture -%}
	{%- assign logout = 'customer.log_out' | t -%}
	{%- assign register = 'customer.registration' | t -%}
	<div class="offcanvas offcanvas-end velaTopLinks" tabindex="-1" id="velaTopLinks" aria-labelledby="offcanvasRightLabel">
		<div class="offcanvas-body overflow-hidden">
			<div id="recover" class="h-100 w-100 start-0 top-0 position-absolute scroll-style">
				<div class="h-100 d-flex flex-column justify-content-between">
					<div class="offcanvas-header border-bottom">
						<h4 class=" mb-0 ">{{ 'customer.recover_password.title' | t }}</h4>
						<button type="button" class="vela__btn-close position-absolute" data-bs-dismiss="offcanvas" aria-label="Close">
							{% render 'icons', icon: 'line', class: 'icon-line position-absolute top-50 start-50', attr: 'width="10" height="10"' %}
							{% render 'icons', icon: 'line', class: 'icon-line1 position-absolute top-50 start-50', attr: 'width="10" height="10"' %}
						</button>
					</div>
					<div class="login__form h-100 w-100 d-flex align-items-center">
						<div class="login__wrapper w-100 py-3">
							<div class="heading-color fw-medium mb-4">
								{{ 'customer.recover_password.subtext' | t }}
							</div>
							{%- form 'recover_customer_password' -%}
								<div class="mb-2 pb-1 position-relative">
									<input class="form-control hidden-label" type="email" value="" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off" autocomplete="email" required placeholder="{{ 'customer.login_page.email' | t }}">
									<label class="form-label" for="RecoverEmail">
										{{ 'customer.login_page.email' | t }}
									</label>
								</div>
								<button class="btn btn-default w-100">
									<span>{{ 'customer.login_page.submit' | t }}</span>
								</button>
								<p class="mb-0 pt-2 mt-1 text-color-light">{{ 'customer.login_page.back_to_login_html' | t }}</p>
							{%- endform -%}
						</div>
					</div>
					<div class="d-none"></div>
				</div>
			</div>
			<div id="register" class="h-100 w-100 start-0 top-0 position-absolute scroll-style">
				<div class="h-100 d-flex flex-column justify-content-between">
					<div class="offcanvas-header border-bottom">
						<h4 class=" mb-0 ">{{ 'customer.register.title' | t }}</h4>
						<button type="button" class="vela__btn-close position-absolute" data-bs-dismiss="offcanvas" aria-label="Close">
							{% render 'icons', icon: 'line', class: 'icon-line position-absolute top-50 start-50', attr: 'width="10" height="10"' %}
							{% render 'icons', icon: 'line', class: 'icon-line1 position-absolute top-50 start-50', attr: 'width="10" height="10"' %}
						</button>
					</div>
					<div class="register__form customer_body w-100 d-flex align-items-center">
						<div class="register__wrapper position-relative w-100 py-3">
							{%- form 'create_customer' -%}
								<div class="mb-2 pb-1 position-relative"> 
									<input class="form-control hidden-label" type="text" name="customer[first_name]" id="RegisterForm-FirstName" required {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name" placeholder="{{ 'customer.register.first_name' | t }}">
									<label class="form-label" for="RegisterForm-FirstName">
										{{ 'customer.register.first_name' | t }}
									</label>    
								</div>
								<div class="mb-2 pb-1 position-relative">
									<input class="form-control hidden-label" type="text" name="customer[last_name]" id="RegisterForm-LastName" required {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name" placeholder="{{ 'customer.register.last_name' | t }}">
									<label class="form-label" for="RegisterForm-LastName">
										{{ 'customer.register.last_name' | t }}
									</label>
								</div>
								<div class="mb-2 pb-1 position-relative">   
									<input class="form-control hidden-label" type="email" name="customer[email]" id="RegisterForm-email" {% if form.email %} value="{{ form.email }}"{% endif %} spellcheck="false" autocapitalize="off" autocomplete="email" aria-required="true" required {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="RegisterForm-email-error" {% endif %} placeholder="{{ 'customer.register.email' | t }}">
									<label class="form-label" for="RegisterForm-email">
										{{ 'customer.register.email' | t }}
									</label>   
								</div>
								<div class="mb-2 pb-1 position-relative">  
									<input class="form-control hidden-label" type="password" name="customer[password]" id="RegisterForm-password" aria-required="true" required {% if form.errors contains 'password' %} aria-invalid="true" aria-describedby="RegisterForm-password-error" {% endif %} placeholder="{{ 'customer.register.password' | t }}">
									<label class="form-label" for="RegisterForm-password">
										{{ 'customer.register.password' | t }}
									</label>  
									<div class="showPass position-absolute top-0 end-0 mt-2 me-3">
										<span class="eye d-none"> {% render 'icons', icon: 'eye-bold', attr: 'width="18" height="18"' %}</span>
										<span class="eye-blind"> {% render 'icons', icon: 'eye-blind', attr: 'width="18" height="18"' %}</span>
									</div>
								</div>
								<button class="btn btn-default w-100">
									<span>{{ 'customer.register.submit' | t }}</span>
								</button>
							{%- endform -%}
						</div>
					</div>
					<div class="offcanvas-footer d-flex justify-content-center">
						<a class="d-block text-uppercase btn-link-outline fs-13 fw-semibold" href="#login">
							{{ 'customer.register.back_to_login' | t }}
						</a>
					</div>
				</div>
			</div>
			<div id="login" class="h-100 w-100 start-0 top-0 position-absolute scroll-style">
				<div class="h-100 d-flex flex-column justify-content-between">
					<div class="offcanvas-header border-bottom">
						<h4 class=" mb-0 ">{{'customer.login_page.title' | t }}</h4>
						<button type="button" class="vela__btn-close position-absolute" data-bs-dismiss="offcanvas" aria-label="Close">
							{% render 'icons', icon: 'line', class: 'icon-line position-absolute top-50 start-50', attr: 'width="10" height="10"' %}
							{% render 'icons', icon: 'line', class: 'icon-line1 position-absolute top-50 start-50', attr: 'width="10" height="10"' %}
						</button>
					</div>
					<div class="login__form customer_body w-100">
						<div class="login__wrapper py-4">
							{%- form 'customer_login' -%}
								<div class="mb-2 pb-1 position-relative"> 
									<input class="form-control hidden-label" type="email" name="customer[email]" id="CustomerEmail" autocomplete="email" autocorrect="off" autocapitalize="off" required{% if form.errors contains 'form' %} aria-invalid="true"{% endif %} placeholder="{{ 'customer.login_page.email' | t }}">
									<label class="form-label" for="CustomerEmail">
										{{ 'customer.login_page.email' | t }}
									</label>
								</div>
								{%- if form.password_needed -%}
									<div class="mb-2 pb-1 position-relative">  
										<input class="form-control hidden-label" type="password" value="" name="customer[password]" id="CustomerPassword" autocomplete="current-password" required {% if form.errors contains 'form' %} aria-invalid="true" {% endif %} placeholder="{{ 'customer.login_page.password' | t }}">
										<label class="form-label" for="CustomerPassword">
											{{ 'customer.login_page.password' | t }}
										</label>
										<div class="showPass position-absolute top-0 end-0 mt-2 me-3">
											<span class="eye d-none"> {% render 'icons', icon: 'eye-bold', attr: 'width="18" height="18"' %}</span>
											<span class="eye-blind"> {% render 'icons', icon: 'eye-blind', attr: 'width="18" height="18"' %}</span>
										</div>
									</div>
								{%- endif -%}
								<div class="group-action pt-4"> 
									<button class="btn btn-default w-100 mb-2"><span>{{'customer.login_page.title' | t }}</span></button>
									<a class="btn btn-outline w-100 d-block" href="#register">
										{{ 'customer.login_page.create_account' | t }}
									</a>
								</div>
							{%- endform -%}
						</div>
					</div>
					<div class="offcanvas-footer d-flex justify-content-center">
						<a class="d-inline-block text-uppercase btn-link-outline fs-13 fw-semibold" href="#recover">
							{{ 'customer.login_page.forgot_password' | t }}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{%- endunless -%}