{{- 'multiple-collapse.css' | asset_url | stylesheet_tag -}}
{%- include 'section_style' -%}
<div class="vela-section multiple-collapse overflow-hidden collapse__{{ section.settings.collapse_style }}{% if section.settings.full_with and section.settings.max_with %} mx-auto{% endif %}" style="{{- section_style -}}">
    <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
        <div class="vela-section__inner">
            <div id="multiple-collapse{{ section.id }}">
                {% for block in section.blocks %}
                    <div class="multiple-collapse__item {% unless forloop.last %}mb-2{% endunless %}">
                        <a class="multiple-collapse__heading d-block position-relative {% unless block.settings.item_active %}collapsed{% endunless %}" data-bs-toggle="collapse" href="#collapseItem{{ forloop.index }}{{ section.id }}" role="button" aria-expanded="false" aria-controls="collapseItem{{ forloop.index }}">
                            {{ block.settings.title }}
                            {%- if section.settings.collapse_style == "style1" -%}
                                {% render 'icons', icon: 'angle-down', attr: 'width="14"' class: 'position-absolute end-0 top-0' %}
                            {%- else -%}
                                {% render 'icons', icon: 'plus', attr: 'width="12" height="12"' class: 'icon-plus position-absolute end-0 top-50 translate-middle-y me-2' %}
                                {% render 'icons', icon: 'minus', attr: 'width="12" height="12"' class: 'icon-minus position-absolute end-0 top-50 translate-middle-y me-2' %}
                            {%-  endif -%}
                        </a>
                        <div class="collapse multiple-collapse__content {% if block.settings.item_active %}collapse show{% endif %}" id="collapseItem{{ forloop.index }}{{ section.id }}" data-bs-parent="#multiple-collapse{{ section.id }}">
                            <div class="multiple-collapse__wrapper">
                                {{ block.settings.content }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>            
		</div>
	</div>
</div>
{% schema %}
  	{
        "name": "Multiple Collapse",
        "tag": "section",
        "class": "velaFramework",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "header",
                "content": "t:sections.global.settings.header_section.content"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "t:sections.global.settings.full_width.label"
            },
            {
                "type": "text",
                "id": "max_with",
                "label": "t:sections.global.settings.max_with.label",
                "info": "t:sections.global.settings.max_with.info"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "t:sections.global.settings.bg_color.label",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "t:sections.global.settings.padding.label",
                "placeholder": "0px 0px",
                "info": "t:sections.global.settings.padding.info"
            },
            {
                "type": "text",
                "id": "padding_block_m",
                "label": "t:sections.global.settings.padding_mobile.label",
                "placeholder": "0px 0px",
                "info": "t:sections.global.settings.padding_mobile.info"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "t:sections.global.settings.margin.label",
                "placeholder": "0px 0px"
            },
            {
                "type": "header",
                "content": "Item settings"
            },
            {
                "type": "select",
                "id": "collapse_style",
                "label": "Style",
                "default": "default",
                "options": [
                    {
                        "value": "default",
                        "label": "Default"
                    },
                    {
                        "value": "style1",
                        "label": "Style1"
                    }
                ]
            }
		],
        "blocks": [
            {
                "type": "collapse",
                "name": "Collapse Item",
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "item_active",
                        "label": "is active?",
                        "default": false
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Heading"
                    },
                    {
                        "type": "html",
                        "id": "content",
                        "label": "Item content",
                        "default": "Lorem Khaled Ipsum is a major key to success. They don’t want us to win. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Multiple Collapse",
                "blocks": [
                    {
                        "type":"collapse",
                        "settings":{
                            "title": "What does Shopify do?",
                            "content": "Lorem Khaled Ipsum is a major key to success. They don’t want us to win. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Major key, don’t fall for the trap, stay focused"
                        }
                    },
                    {
                        "type":"collapse",
                        "settings":{
                            "title": "What does Shopify do?",
                            "content": "Lorem Khaled Ipsum is a major key to success. They don’t want us to win. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Major key, don’t fall for the trap, stay focused"
                        }
                    },
                    {
                        "type":"collapse",
                        "settings":{
                            "title": "What does Shopify do?",
                            "content": "Lorem Khaled Ipsum is a major key to success. They don’t want us to win. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Major key, don’t fall for the trap, stay focused"
                        }
                    },
                    {
                        "type":"collapse",
                        "settings":{
                            "title": "What does Shopify do?",
                            "content": "Lorem Khaled Ipsum is a major key to success. They don’t want us to win. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Major key, don’t fall for the trap, stay focused"
                        }
                    }
                ]
            }
        ]
  	}
{% endschema %}