{%- include 'carousel-settings' -%}
{%- include 'section_style' -%}
<style>.reviews-carousel__item{ border: 1px solid var(--border-lighter-color); padding: 24px;}.reviews-carousel__product .product-image {width: 77px; }.reviews-carousel__product .product-content {width: calc(100% - 93px);padding-left: 16px; }</style>
<div class="vela-section reviews-carousel overflow-hidden{% if section.settings.full_with and section.settings.max_with %} mx-auto{% endif %}" style="{{- section_style -}}">
    <div class="container{%- if section.settings.full_with -%}-fluid{%- endif -%}">
        <div class="vela-section__inner">
            {%- if section.settings.heading != blank  -%}
                <div class="heading-group mb-3 mb-md-4 pb-1 {{ section.settings.text_align }}">
                    <h2 class="heading mb-0">
                        <span>{{ section.settings.heading }}</span>
                    </h2>
                    {%- if section.settings.sub_heading != blank -%}
                        <div class="sub-heading pt-1">
                            {{ section.settings.sub_heading }}
                        </div>
                    {%- endif -%}
                </div>
            {%- endif -%}
            <div class="vela-section__content" >
                <div class="vela-section__wrapper">
                    <div class="js-carousel carousel-custom slick-carousel row g-3 g-lg-4"
                    data-nav="{{ nav }}"
                    data-dots="{{ pagination }}"
                    data-infinite="{{ infinite }}"
                    data-autoplay="{{ autoplay }}"
                    data-autoplayspeed="{{ autoplay_speed }}"
                    data-columnone="{{ owlColumn1 }}" 
                    data-columntwo="{{ owlColumn2 }}" 
                    data-columnthree="{{ owlColumn3 }}">
                        {% for block in section.blocks %}
                            <div class="slick-carousel__item">
                                <div class="reviews-carousel__item rounded-2">
                                    {%- assign product = all_products[block.settings.product_handle] -%}
                                    <div class="reviews-carousel__product d-flex w-100 mb-3">
                                        {% if product != blank  %}
                                            <div class="product-image">
                                                <a class="product-card__image-link rounded-2" href="{{ product.url }}" title="{{ product.title | strip_html }}">
                                                    {% render 'img-global', image: product.featured_media.preview_image, crop: 'center', max_width: 200, image_style: true %}
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                {%- if product.vendor != blank -%}
                                                    <div class="product__vendor text-secondary fs-13 fw-semibold text-uppercase">{{ product.vendor }}</div>
                                                {%- endif -%}
                                                <div class="product-card__name heading-color fs-6 fw-medium mb-2">
                                                    <a class="fw-normal" href="{{ product.url }}" title="{{ product.title | strip_html }}">{{ product.title }}</a>
                                                </div>
                                                <div class="reviews-carousel__badge product-card__review product-review">
                                                    <div class="jdgm-widget jdgm-preview-badge lh-1 jdgm--done-setup">
                                                        <div class="jdgm-prev-badge d-block"> 
                                                            <span class="jdgm-prev-badge__stars" data-score="5.00" tabindex="0" aria-label="5.00 stars" role="button"> 
                                                                <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> 
                                                            </span> 
                                                            <span class="jdgm-prev-badge__text">1 Review</span> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {%- else -%}
                                            <div class="product-image">
                                                <a class="product-card__image-link" href="/admin/products">
                                                    <div class="card__image position-relative js lazyload" style="padding-top: 120%;">
                                                        {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                                                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg position-absolute top-50 translate-middle-y start-0 w-100' }}
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product__vendor text-secondary fs-13 fw-semibold text-uppercase">Aceno</div>
                                                <div class="product__title heading-color fs-6 fw-medium mb-2">Balloon Denim Mini Skirt</div>
                                                <div class="reviews-carousel__badge product-card__review product-review">
                                                    <div class="jdgm-widget jdgm-preview-badge lh-1 jdgm--done-setup">
                                                        <div class="jdgm-prev-badge d-block"> 
                                                            <span class="jdgm-prev-badge__stars" data-score="5.00" tabindex="0" aria-label="5.00 stars" role="button"> 
                                                                <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> 
                                                            </span> 
                                                            <span class="jdgm-prev-badge__text">1 Review</span> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    </div>
                                    <div class="reviews-carousel__content">
                                        {%- if block.settings.review != blank -%}
                                            <div class="reviews-carousel__review mb-3">{{ block.settings.review }}</div>
                                        {%- endif -%}
                                        <div class="d-flex align-items-center">
                                            {%- if block.settings.name != blank -%}
                                                <div class="reviews-carousel__name mb-0 heading-color fw-medium me-2">{{ block.settings.name }}</div>
                                            {%- endif -%}
                                            <div class="reviews-carousel__date text-secondary">{% if block.settings.date != blank %}{{ block.settings.date }}{% else %}{{ 'now' | time_tag: format: 'date_month_year' }}{% endif %}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Reviews caroulsel",
        "tag": "section",
        "class": "velaFramework",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings":[
            {
                "type": "header",
                "content": "t:sections.global.settings.header_section.content"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "t:sections.global.settings.full_width.label"
            },
            {
                "type": "text",
                "id": "max_with",
                "label": "t:sections.global.settings.max_with.label",
                "info": "t:sections.global.settings.max_with.info"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "t:sections.global.settings.bg_color.label",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "t:sections.global.settings.padding.label",
                "placeholder": "0px 0px",
                "info": "t:sections.global.settings.padding.info"
            },
            {
                "type": "text",
                "id": "padding_block_m",
                "label": "t:sections.global.settings.padding_mobile.label",
                "placeholder": "0px 0px",
                "info": "t:sections.global.settings.padding_mobile.info"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "t:sections.global.settings.margin.label",
                "placeholder": "0px 0px"
            },
            {
                "type": "header",
                "content": "t:sections.global.settings.header_settings.content"
            },
            {
                "type": "html",
                "id": "heading",
                "label": "t:sections.global.settings.heading_section.label",
                "default": "Heading"
            },
            {
                "type": "text",
                "id": "sub_heading",
                "label": "t:sections.global.settings.subheading_section.label",
                "default": "sub heading"
            },
            {
                "type": "select",
                "id": "text_align",
                "label": "Text alignment",
                "default": "text-start",
                "options": [
                    {
                        "value": "text-start",
                        "label": "Left"
                    },
                    {
                        "value": "text-center",
                        "label": "Center"
                    },
                    {
                        "value": "text-end",
                        "label": "Right"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Layout Settings"
            },
            {
                "type": "range",
                "id": "column1",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Number of columns on desktop",
                "default": 4
            },
            {
                "type": "range",
                "id": "column2",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "Number of columns on tablet",
                "default": 3
            },
            {
                "type": "range",
                "id": "column3",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "Number of columns on mobile",
                "default": 2
            },
            {
                "type": "header",
                "content": "Carousel settings"
            },
            {
                "type": "checkbox",
                "id": "navigation",
                "label": "Show navigation",
                "default": true
            },
            {
				"type": "checkbox",
				"id": "pagination",
				"label": "Show dot indicators",
				"default": true
			},
            {
                "type": "checkbox",
                "id": "infinite",
                "label": "Infinite loop sliding",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Enable autoplay",
                "default": false
            },
            {
                "type": "text",
                "id": "autoplay_speed",
                "label": "Autoplay speed",
                "info": "Autoplay speed in milliseconds. Type: int(ms)",
                "default": "10000"
            }
        ],
		"blocks": [
			{
                "type": "item",
                "name": "Review",
                "settings": [
                    {
                        "type": "product",
                        "id": "product_handle",
                        "label": "Product"
                    },
                    {
                        "type": "textarea",
                        "id": "review",
                        "label": "Customer Review",
                        "default": "Ipsum dolor sit amet, consectetur adipiscing elit. Fringilla vel tincidunt ipsum ac. Nam at et id leo pulvinar egestas mi lorem. Adipiscing felis"
                    },
                    {
                        "type": "text",
                        "id": "name",
                        "label": "Customer name",
                        "default": "Priscilla Priscilla"
                    },
                    {
                        "type": "text",
                        "id": "date",
                        "label": "Date"
                    }
                ]
            }
		],
        "presets": [
            {
                "name": "Reviews caroulsel",
                "blocks": [
                    {
                        "type": "item"
                    },
                    {
                        "type": "item"
                    },
                    {
                        "type": "item"
                    },
                    {
                        "type": "item"
                    }
                ]
            }
        ]
    }
{% endschema %}